In [2]:
#PCA is a dimention reduction method that is often use to reduce the dimenitonality of large data set by transformin g 
# a large set of variables into a smaller one that still contains most of the information in the large set.
#Int his tecqnique variables are transformed into a set of variables which are linear combination of original variabels . 
#This new set of variables are known as principal components .
#The first principal componet captures the most varaiational component in the data , but 2nd captueres the maximum variance that is orthogonal component and so on.

In [7]:
#import necasary libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plot
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

df=pd.read_csv("iris.csv")
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [10]:
df.describe()
# this method in pandas provides descivtive statiscis of the data frames numeric columns . It includes majors of central tendensy , dispertion , and shape of the disrtibutionn of the data set.

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [11]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [12]:
df.species.replace({'Setosa':0,'Versicolor':1,'Virginica':2},inplace=True)

In [13]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [14]:
# Standardize the data
features=['sepal_length','sepal_width','petal_length','petal_width']

In [17]:

x=df.loc[:,features].values
y=df.loc[:,['species']].values
x=StandardScaler().fit_transform(x)
print(pd.DataFrame(data=x,columns=features).head())

   sepal_length  sepal_width  petal_length  petal_width
0     -0.900681     1.019004     -1.340227    -1.315444
1     -1.143017    -0.131979     -1.340227    -1.315444
2     -1.385353     0.328414     -1.397064    -1.315444
3     -1.506521     0.098217     -1.283389    -1.315444
4     -1.021849     1.249201     -1.340227    -1.315444

In [20]:
from sklearn.decomposition import PCA
#This line imports the pca class from the sckit-learn library which provides tools for dimention redction using pca
pca=PCA()\
#this line creates an instance of the pca class
#The PCA () contractor can take parameters like n_components to specify the number of pc to retain, but in this case 
X_new=pca.fit_transform(x)

In [22]:
# Variance 
#explained variance for each principal component

explained_variance=pca.explained_variance_ratio_
explained_variance

array([0.72962445, 0.22850762, 0.03668922, 0.00517871])

In [28]:
#PCA projecting to 2D
pca=PCA(n_components=2)
principalComponents=pca.fit_transform(x)
principalDF=pd.DataFrame(data=principalComponents,columns=['PC1','PC2'])
print(principalDF.head(150))

          PC1       PC2
0   -2.264703  0.480027
1   -2.080961 -0.674134
2   -2.364229 -0.341908
3   -2.299384 -0.597395
4   -2.389842  0.646835
..        ...       ...
145  1.870503  0.386966
146  1.564580 -0.896687
147  1.521170  0.269069
148  1.372788  1.011254
149  0.960656 -0.024332

[150 rows x 2 columns]